<div class="banner">
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="three-fourths">
          <a class="logo" href="{{site.baseurl}}/">
            <span class="h2">Final Touch</span><span class="light">Painting</span>
          </a>
        </div>

        <div class="fourth">
          <div class="text-right">
            <a class="cta mobile-full" href="/request-a-bid">Request a Bid <i class="fa fa-dot-circle-o"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
